{% extends 'index.html' %}

{%block content%}
<h1 class="text-center">Bienvenue sur notre blog</h1>
<br>
<div class="container">
    <div class="row">
        {% for article in articles %}
        <div class="col-lg-4 mt-2">
            <div class="card shadow">
                <a href="{% url 'detail' article.id %}">                
                    {% comment %} {% if  article.image=="http://default" %} {% endcomment %}
                        <img src="{{article.image.url}}" class="card-img-top">
                    {% comment %} {% else %} {% endcomment %}
                    {% comment %} <img src="{% static 'hotels3.jpg'%}" class="card-img-top"> {% endcomment %}
                    {% comment %} {% endif %} {% endcomment %}                                          
                </a>
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'detail' article.id %}">{{article.title}}</a></h5>
                  <p class="card-text">{{article.desc}}</p>
                  <p class="card-text">publier il y'a {{article.created_at|timesince}}</p>
                  <a href="{% url 'detail' article.id %}" class="btn btn-primary" data-mdb-ripple-init>Lire la suite</a>
                </div>
              </div>
        </div>
        {%endfor%}
    </div> 
    <div class="pagination mt-4">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">precedent</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">suivant</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">derniere &raquo;</a>
            {% endif %}
        </span>
    </div>
</div> 

{%endblock%}