{% extends 'partial/base.html' %}

{% block title %}
modifier un article
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="">
                {% csrf_token %}
                voulez vous supprimer cette article? ({{object}})
                <button type='submit' class="btn btn-success">Oui</button>
                <a href="{% url 'my-article' %}" class="btn btn-warning">Non</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}